In [1]:
#groupby,群組相同值的資料，並使用統計運算
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   key1    5 non-null      object
 1   key2    5 non-null      object
 2   data1   5 non-null      float64
 3   data2   5 non-null      float64
dtypes: float64(2), object(2)
memory usage: 288.0+ bytes

  key1 key2     data1     data2
0    a  one  0.659683  0.833561
1    a  two -0.243603 -1.411842
2    b  one  0.127791  0.575767
3    b  two -1.283887 -0.871071
4    a  one  0.520881 -0.286446

In [2]:
gp1 = df['data1'].groupby(by=['x','x','x','y','y'])
gp1.sum()

x    0.543871
y   -0.763006
Name: data1, dtype: float64

In [3]:
df['data1'].groupby(df['key1']).sum()

key1
a    0.936961
b   -1.156096
Name: data1, dtype: float64

In [4]:
#Series Groupby
df2 = df['data1'].groupby([df['key1'],df['key2']]).sum()
df2.unstack(level='key2')

key2       one       two
key1
a     1.180564 -0.243603
b     0.127791 -1.283887

In [5]:
#dataFrame的Groupby
df.groupby(by=['key1','key2']).sum()

              data1     data2
key1 key2
a    one   1.180564  0.547116
     two  -0.243603 -1.411842
b    one   0.127791  0.575767
     two  -1.283887 -0.871071

In [6]:
#透過dataFrame的groupby,取出SerialGroupby
df3 = df.groupby(by=['key1','key2'])['data1'].sum()
df3.unstack(level='key2')

key2       one       two
key1
a     1.180564 -0.243603
b     0.127791 -1.283887