In [24]:
import numpy as np
five_store = np.random.randint(100,10000,size=(5,30))
five_store_cumsum = five_store.cumsum(axis=1)
five_store_cumsum

array([[  9104,  15528,  19433,  27503,  29705,  37960,  45241,  52852,
         57854,  61031,  63770,  67030,  76069,  84848,  94678, 101245,
        105902, 114554, 116127, 123883, 127674, 134603, 141116, 148658,
        155663, 159256, 159999, 168931, 169435, 170830],
       [   302,   3862,  11594,  15944,  20261,  24818,  32825,  38161,
         44677,  53656,  57528,  59955,  61996,  66771,  76380,  80913,
         81403,  85919,  86398,  87946,  94281, 100547, 108514, 110132,
        118009, 122251, 125254, 129647, 134866, 140069],
       [  9405,  10850,  20375,  23820,  29869,  34139,  39470,  47147,
         56205,  62310,  66053,  73545,  78685,  84817,  92362, 100646,
        105507, 108028, 113322, 115638, 119862, 128359, 132403, 135575,
        135998, 145391, 152558, 153181, 160708, 165589],
       [  2477,  11050,  13381,  22418,  26095,  33303,  41231,  49978,
         53855,  61193,  62644,  65656,  73852,  78997,  86253,  93973,
         97408,  99949, 105825, 110125, 112448, 120331, 128669, 137913,
        143880, 144917, 150021, 150179, 155732, 162948],
       [  1782,   4160,  10134,  18224,  26543,  29206,  37324,  39707,
         44531,  52249,  58724,  65052,  69375,  78125,  81977,  84507,
         93709, 100430, 108338, 112000, 116559, 123953, 127485, 131437,
        132784, 139810, 148282, 157030, 167007, 174550]])

In [ ]:
import pandas as pd

five_store = pd.DataFrame(five_store_cumsum,
             columns=[f"第{day}天"for day in range(1,31)],
             index=['台北分店','新竹分店','台中分店','台南分店','高雄分店'])
new_df = five_store.T

        台北分店    新竹分店    台中分店    台南分店    高雄分店
第1天     9104     302    9405    2477    1782
第2天    15528    3862   10850   11050    4160
第3天    19433   11594   20375   13381   10134
第4天    27503   15944   23820   22418   18224
第5天    29705   20261   29869   26095   26543
第6天    37960   24818   34139   33303   29206
第7天    45241   32825   39470   41231   37324
第8天    52852   38161   47147   49978   39707
第9天    57854   44677   56205   53855   44531
第10天   61031   53656   62310   61193   52249
第11天   63770   57528   66053   62644   58724
第12天   67030   59955   73545   65656   65052
第13天   76069   61996   78685   73852   69375
第14天   84848   66771   84817   78997   78125
第15天   94678   76380   92362   86253   81977
第16天  101245   80913  100646   93973   84507
第17天  105902   81403  105507   97408   93709
第18天  114554   85919  108028   99949  100430
第19天  116127   86398  113322  105825  108338
第20天  123883   87946  115638  110125  112000
第21天  127674   94281  119862  112448  116559
第22天  134603  100547  128359  120331  123953
第23天  141116  108514  132403  128669  127485
第24天  148658  110132  135575  137913  131437
第25天  155663  118009  135998  143880  132784
第26天  159256  122251  145391  144917  139810
第27天  159999  125254  152558  150021  148282
第28天  168931  129647  153181  150179  157030
第29天  169435  134866  160708  155732  167007
第30天  170830  140069  165589  162948  174550

In [28]:
type(new_df['台北分店'])
new_df['台中分店']

第1天       9405
第2天      10850
第3天      20375
第4天      23820
第5天      29869
第6天      34139
第7天      39470
第8天      47147
第9天      56205
第10天     62310
第11天     66053
第12天     73545
第13天     78685
第14天     84817
第15天     92362
第16天    100646
第17天    105507
第18天    108028
第19天    113322
第20天    115638
第21天    119862
第22天    128359
第23天    132403
第24天    135575
第25天    135998
第26天    145391
第27天    152558
第28天    153181
第29天    160708
第30天    165589
Name: 台中分店, dtype: int64